@import url('https://fonts.googleapis.com/css2?family=VT323&family=Pixelify+Sans:wght@400..700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
  
  color:black;
  font-family: 'Times New Roman', serif;
}

.game-wrapper {
  z-index: 1;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background: radial-gradient#1a1612;
}

.game-header h1 {
  text-align: center;
  color: white;
  background: black ;
  margin: 0;
  padding: 20px;
  letter-spacing: 5px;
}

.game-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}

.story-card {
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  position: fixed;
  color: white;
  background: black;
  font-family: 'Pixelify Sans', sans-serif;  margin-bottom: 30px;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  backdrop-filter: blur(10px);

}

.options-container {
  pointer-events: auto;
  display: flex;
  flex-direction: row; 
  gap: 20px;
  padding: 20px;
  border: 2px solid #3b2f21;
  background: #a68966, 0;
  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  backdrop-filter: blur(10px);

}

.gold-text {
  color: #d9c5b2;
  margin-right: 5px;
}

.start-screen {
  text-align: center;
}

.welcome-text {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 2rem;
}

.options-outer-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
  background: #121212, 0;
  display: flex;
  justify-content: center;
  align-items: center;  
}



/* TEMPORARY DEBUG: Force everything to have a red outline 
* {
  outline: 10px solid red !important;
}
  */